/* =============================================== */

.containers-list-container {
  position: fixed;
  top: 60px;
  left: 30px;
  width: 300px;
  height: calc(100vh - 90px);
  background-color: #000a;
  z-index: 10;
  overflow: auto;
}

.containers-list-container h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}


.containers-list-container .compose-container {
  border: 1px solid #0f0;
  padding: 4px 8px;
  border-radius: 8px;
  margin: 0 8px 8px 8px;
}
.containers-list-container .compose-container summary {
  cursor: pointer;
  margin-bottom: 8px;
}




.containers-list .container-list-entry {
  display: flex;
  justify-content: space-between;
  padding: 4px 8px;
  border: 1px solid #0f0;
  background-color: #000;
  color: #fff;
  border-radius: 8px;
  margin: 0 8px 8px 8px;
}

.containers-list .focus-on-container {
  cursor: pointer;
}
